
  
  #LandingPage {
    
    font-size: 250px;
  position: relative;
  z-index: 20;

}


h1{
    color: #515E63;
    text-align: center;
    padding-top: 200px;

}

#btn{
    -webkit-border-radius: 18;
    -moz-border-radius: 18;
    border-radius: 18px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #789395;
    padding: 20px 20px 20px 20px;
    text-decoration: none;
    display: inline-block;
    position: relative;
    z-index: 20;
  }
  
  #btn:hover {
    background: #E5E3C9;
    text-decoration: none;
    position: relative;
    z-index: 20;

  }

  #landing-button{
    text-align: center;
    padding: 200px;
    z-index: 20;
    position: relative;
    opacity: 1;
    animation: scaleUp .5s 1.5s;
    transform: scale(0);
    animation-fill-mode: forwards;
  }

  
#landing-link{
  position: relative;
  z-index: 20;
}

.landing-page--content{
    position: relative;
    background: var(--background-color);
    z-index: -10;
  }

  .landing-page--content::before{
    background-image: var(--background-image);
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: block;
    opacity: 0.1;
    z-index: -10;
  }

.welcome{
  font-size: 0;
  animation: grow 1s .5s;
  animation-fill-mode: forwards;
}

@keyframes grow {
  from{
    font-size: 0;
  }
  to{
    font-size: 6rem;
  }
}

@keyframes scaleUp {
  from{
    transform: scale(0);
  }
  to{
    transform: scale(1);
  }
}