.LogInPage { 
    padding: 30px;
    height: 70vh;
    width: 100vw;
    background: rgb(229, 227, 201);
    text-align: center;
    display: flex;
    flex-direction: column;
    animation: swoopInLeft 1s;
}

.loginpage--content{
    background: rgb(229,227,201);
}

input{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.wrong{
    border: 2px solid red;
    border-radius: 5px;
}

#loginPage--header{
    padding: 20px;
}

#loginPage--form{
    background: #94B49F;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.submit-input{
    border-radius: 5px;
    background-color: #515E63;
    color: white;
}

header{
    animation: swoopInDown 1s;
}

footer{
    animation: swoopInUp 1s;
}

@keyframes swoopInDown {
    from{transform: translateY(-100%)}
    to{
        transform: translateY(0);
    }
}

@keyframes swoopInLeft {
    from{transform: translateX(-100%)}
    to{
        transform: translateX(0);
    }
}

@keyframes swoopInUp {
    from{transform: translateY(100%)}
    to{
        transform: translateY(0);
    }
}