.add-post-form {
    margin-top: 30px;
    margin-bottom: 5px;
}

.event-dropdown {
    margin-left: 5px;
}

.input-content {
    width:200px;
}

.post-btn {
    background-color: #789395;
    color: white;
    margin-left: 5px;
}