.add-post-form {
    margin-top: 30px;
    margin-bottom: 5px;
}

.event-dropdown {
    margin-left: 5px;
}

.input-content {
    width:200px;
}

.post-btn {
    background-color: #789395;
    color: white;
    margin-left: 5px;
}

.btn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #f1f7ed;
    font-size: 18px;
    background: #57837B;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin: 20px;
  }
  
  .btn:hover {
    background: #B4CFB0;
    text-decoration: none;
  }
