.post-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    flex-direction: column;
    list-style-type: none;

}

.keyword-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 50vh;
    flex-direction: column;
    list-style-type: none;
}

.input-content {
    height: 50px;
    width: 550px;
    margin: auto;
    padding: 0px;
}

.select {
    width: 200px;
    margin: auto;
    padding: 0px;
    justify-content: center;
    align-items: center;
    margin-left: 33%;
}

.post-item {
    /* border: 1px solid black; */
    margin-top: 10px;
    margin-bottom: 5px;
    padding:10px;
    text-align: left;
    width: 600px;
    background:#E5E3C9;
    border:solid 5px #515E63;
    border-radius: 255px 10px 225px 10px/10px 225px 10px 255px;


}

.hearted-comment {
    font-style: italic;
    font-weight: 500;
}

.button-and-post-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.business-btn {
    /* border-radius: 30%;
    height: 50px;
    margin-right: 40px;
    background-color: #789395;
    color: white; */
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #f1f7ed;
    font-size: 18px;
    background: #57837B;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: 0;
    margin-right: 5%;
    margin: auto;
    margin-top: 50px;
}

.business-btn:hover {
    background: #B4CFB0;
    text-decoration: none;
  }

.edit-post-btn {
    background-color: #789395;
    color: white;
    width: 450px;
}

.edit-content {
    margin-top: 10px;
    width: 450px;
}

.edit-post-form {
    text-align: center;
}

.search-bar{
    text-align: center;
    margin: auto;
}

.btn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #f1f7ed;
    font-size: 18px;
    background: #57837B;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #B4CFB0;
    text-decoration: none;
  }

  .search-input{
    margin: 20px;

    box-sizing: border-box;
    width: 20%;

  }

.form-container {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.search-input {
    width: 300px;
}

.add-post-form {
    padding: 10px;
    border: 5px dotted #515E63;
    margin-bottom: 20px;
    border-radius: 255px 10px 225px 10px/10px 225px 10px 255px;

}