.post-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    flex-direction: column;
    list-style-type: none;

}

.post-item {
    /* border: 1px solid black; */
    margin-top: 10px;
    margin-bottom: 5px;
    padding:10px;
    text-align: left;
    width: 600px;
    background:#E5E3C9;
    border:solid 5px #515E63;
    border-radius: 255px 10px 225px 10px/10px 225px 10px 255px;


}

.hearted-comment {
    font-style: italic;
    font-weight: 500;
}

.button-and-post-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.business-btn {
    border-radius: 50%;
    height: 50px;
    margin-right: 40px;
    background-color: #789395;
    color: white;
}

.edit-post-btn {
    background-color: #789395;
    color: white;
}

.edit-content {
    text-align: center;
}