.delete-btn{
    float: right;
}

.post-by-text {
    color: #515E63;
    opacity: 60%;
}

.comment-btn{
    float: right;
    padding-right: 12px;
}

.add-comment {
    color: #515E63;
    opacity: 60%;
    font-style: italic;
}

.comment-container {
    display: inline-block;
    list-style-type: none;
}

.comment-item {
    text-align: left;
    width: 400px;
    margin-left: 50px;
}

.superLike {
    float:right;
}

.likes-and-add-comment {
    margin-bottom: 20px;
}

.emoji {
    font-style: normal;
}