.RegisterPage {
    top: 50px;
    bottom: 0px;
    padding: 20px;
    width: 100vw;
    height: 120vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    animation: swoopInLeft 1s .2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    transform: translateX(-100%)
}

.registerpage--content{
    background-color: #E5E3C9;
}

#registerPage--form{
    background: #94B49F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 500px;
    opacity: 90%;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

}

#registerPage--header{
    padding: 20px;
}


#register_page--password_bar_container{
    width: 80%;
    height: 5px;
    background-color: lightgrey;
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
    margin-bottom: 3px;
}

#register_page--password_bar{
    width: 0px;
    height: 5px;
    background-color: lightgrey;
    border-radius: 2px;
}

#register_page--password_bar.red{
    background-color: red;
    width: 33%;
    transition: background-color 2s, width 1s;
}

#register_page--password_bar.yellow{
    background-color: yellow;
    width: 66%;
    transition: background-color 2s, width 1s;

}

#register_page--password_bar.green{
    background-color: green;
    width: 100%; 
    transition: background-color 2s, width 1s;

}

.red-border{
    border: 2px solid red;
    outline: none;
}

#register_page--business-checkbox{
    margin-top: 10px
}

#business-checkbox--label{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: grid;
    grid-template-columns: 50% 50%;
}